@model IEnumerable<SurveyWebApplication.ModelViewInfo.SetManageInfo>

@{
    ViewBag.Title = "SetManageList";
}


<style>
    .vertical {
        border-left: 2px solid black;
        height: 300px;
        position: absolute;
        left: 50%;
    }
    html {
        box-sizing: border-box;
    }

    *,
    *::before,
    *::after {
        box-sizing: inherit;
        margin: 0;
        padding: 0;
    }

    .row {
        display: flex;
    }

    .sep {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .sepText {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1;
    }

        .sepText::before,
        .sepText::after {
            content: '';
            flex: 1;
            width: 1px;
            background: currentColor;
            /* matches font color */
            margin: .25em;
        }
</style>


<div class="container-fluid mb-5">
    <div class="text-center mt-5">
        <h1>Set Manage</h1>
    </div>


    <div class="card shadow-lg p-3 mb-5 bg-light rounded">
        <div class="row">
            <div class="col-md-5 ">
                <h4 class="text-center">Question List</h4><hr />
                <form id="quset" method="post">

                    <div class="row">
                        <div class="col-md-2">
                            <label for="email">Set Name</label>
                        </div>
                        <div class="col-md-5">
                            <input id="setName" class="easyui-combobox " style="width: 275px; height: 35px;" name="SetId" placeholder="Select Option Type" data-options="valueField:'SetId',textField:'SetName',method:'Get', url:'SetList/Question'">

                        </div>
                    </div><br />

                    @foreach (var item in ViewBag.JsonData)
                    {
                        <div class="row">
                            <div class="col-md-2">

                                @*<input class="checkdata easyui-checkbox" type="checkbox" id="check1" name="IsActive">*@
                                <input type="checkbox" name="IsActive" id="check1+@item.QuestionId" class="easyui-checkbox checkdata">

                            </div>
                            <div class="col-md-10">
                                <input id="qsetid" name="@item.QuestionId" value="@item.QuestionId" type="hidden" class="quesId">
                                <label class="textbox-label textbox-label-top">@item.QuestionTitle</label>
                            </div>
                        </div>
                    }

                    <div class="row mt-5">
                        <div class="col-md-4"></div>
                        <div class="col-md-2">

                            <button type="submit" class="easyui-linkbutton c1 " id="btnsubmit" style="width:120px">Save Set</button>

                        </div>
                    </div>

                </form>

            </div>
            <div class="col-md-1 sep">
                <span class="sepText">
                    OR
                </span>
            </div>
            <div class="col-md-6">
                <form id="SetChange" method="post">
                    <div class="row">
                        <h4 class="col-md-9 text-center">Set List</h4>
                        <div class=" col-md-3 ">
                            <button type="submit" class="easyui-linkbutton c1" id="btnSetChange" style="width:100px">Set Remove</button>

                        </div>
                    </div>
                    <hr />
                    <div class="easyui-accordion">
                        @foreach (var set in Model)
                        {

                            <div title="@set.SetName" data-options="iconCls:'icon-ok'" style="overflow:auto;padding:10px;">

                                @foreach (var item in @set.SetManageList)
                                {
                                    <div class="row" style="  padding-left: 10px;">
                                        <div class="col-md-1">
                                            <input type="checkbox" name="IsCheck" id="check+@item.QuestionId" class="easyui-checkbox setdata">
                                        </div>
                                        <div class="col-md-11">
                                            <input id="hiddenId" name="SetManageId" value="@item.QuestionId" type="text" class="SetId">
                                            <label class="textbox-label textbox-label-top">@item.QuestionTitle</label>

                                        </div>
                                    </div>
                                }


                            </div>


                        }

                    </div>
                  

                </form>

            </div>

        </div>



    </div>

</div>
<script>


    $('#setName').combobox({
        prompt: 'Select an Set',
        valueField: 'SetId',
        textField: 'SetName',
        url: 'SetList/SetManage',
        onLoadSuccess: function (data) {
            console.log(data);
        }
    });


    $('#btnsubmit').click(function (e) {
        e.preventDefault();

        var isCorrectEL = document.getElementsByName("IsActive");
        var qid = document.getElementsByClassName("quesId");
        //url: 'SetAdd/SetManage'
        var model = {
            SetId: $('#setName').val(),
            list: []
        };

        model.list = [];

        for (let i = 0; i < qid.length; i++) {

            var Id = qid[i].value;
            var ischecked = isCorrectEL[i].checked;

            if (ischecked) {
                model.list.push({
                    QuestionId: Id,
                    IsActive: ischecked
                });
            }


        }

        console.log(model);
        model.Connectinglist = JSON.stringify(model.list);
        $.ajax({
            type: "POST",
            url: "SetAdd/SetManage",
            data: model,
            dataType: 'json',
            success: function () {
                //success code here
            },
            error: function () {
                //error code here
            }
        });

    });



    $('#btnSetChange').click(function (e) {
        e.preventDefault();

    });


</script>