@model IEnumerable<SurveyWebApplication.Models.SetManage>

@{
    ViewBag.Title = "SetManageList";
}


<style>
    .vertical {
        border-left: 2px solid black;
        height: 500px;
        position: absolute;
        left: 50%;
    }
</style>


<div class="container-fluid mb-5">
    <div class="text-center mt-5">
        <h1>Set Manage</h1>
    </div>


    <div class="card shadow-lg p-3 mb-5 bg-light rounded">
        <div class="row">
            <div class="col-md-6 ">
                <h4 class="text-center">Question List</h4><hr />
                <form id="quset" method="post">

                    @foreach (var item in ViewBag.JsonData)
                    {
                        <div class="row">
                            <div class="col-md-2">
                                <input class=" easyui-checkbox">
                            </div>
                            <div class="col-md-10">
                                <label class="textbox-label textbox-label-top">@item.QuestionTitle</label>
                            </div>
                        </div>
                    }

                    <div class="row mt-5">
                        <div class="col-md-4"></div>
                        <div class="col-md-2">

                            <button type="submit" class="easyui-linkbutton c1 " id="btnsubmit" style="width:120px">Save Set</button>

                        </div>
                    </div>

                </form>

            </div>
            <div class="vertical"></div>
            <div class="col-md-6">
                <h4 class="text-center">Set List</h4><hr />
                <div class="easyui-accordion" >
                    @foreach (var type in ViewBag.Data)
                    {
                        <div title="@type.SetName" data-options="iconCls:'icon-ok'" style="overflow:auto;padding:10px;">
                           @if (@type.SetId == @type.SetManageList[0].SetId)
                           {
                               <div class="row">
                                   <label class="textbox-label textbox-label-top">@type.SetManageList[0].QuestionTitle</label>
                               </div>
                           }
                        </div>

                    }
                    @*<div title="DataGrid" style="padding:10px" data-options="
                        selected:true,
                        tools:[{
                            iconCls:'icon-reload',
                            handler:function(){
                                $('#dg').datagrid('reload');
                            }
                        }]">
                                <table id="dg" class="easyui-datagrid"
                                       data-options="url:'datagrid_data1.json',method:'get',fit:true,fitColumns:true,singleSelect:true">
                                    <thead>
                                        <tr>
                                            <th data-options="field:'itemid',width:80">Item ID</th>
                                            <th data-options="field:'productid',width:100">Product ID</th>
                                            <th data-options="field:'listprice',width:80,align:'right'">List Price</th>
                                            <th data-options="field:'unitcost',width:80,align:'right'">Unit Cost</th>
                                            <th data-options="field:'attr1',width:150">Attribute</th>
                                            <th data-options="field:'status',width:50,align:'center'">Status</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>*@
                </div>
            </div>

        </div>



    </div>

</div>