<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
  
    <link rel="stylesheet" type="text/css" href="https://www.jeasyui.com/easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="https://www.jeasyui.com/easyui/themes/icon.css">
    @*<link rel="stylesheet" type="text/css" href="https://www.jeasyui.com/easyui/themes/color.css">*@
    <link rel="stylesheet" type="text/css" href="https://www.jeasyui.com/easyui/demo/demo.css">
    <script type="text/javascript" src="https://www.jeasyui.com/easyui/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.jeasyui.com/easyui/jquery.easyui.min.js"></script>

    <link href="~/Content/CustomStyle.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        #background {
            background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#085454),color-stop(1,#325da7));
            border-color: black;
            border-radius: 2px;
            color:white !important;
            
        }
    </style>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" id="background">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav active">
                    <li>@Html.ActionLink("QuestionSet", "QuestionSet", "QuestionSets")</li>
                    <li>@Html.ActionLink("OptionTypeList", "OptionTypeList", "OptionType")</li>
                    <li>@Html.ActionLink("Question", "QuestionTitleList", "Question")</li>
                    <li>@Html.ActionLink("QuestionManage", "QuestionManage", "QuestionManage")</li>

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
