@model List<SurveyWebApplication.ModelViewInfo.Option>

@{
    ViewBag.Title = "QuestionManageList";
    int k = 1;
}



<style>
    input, select, textarea {
        max-width: 960px !important;
    }

    #leblsize {
        font-weight: normal !important;
    }

    #title {
        text-align: left !important;
    }


    .box1 {
        color: #000000;
        background-color: #ddd;
        border: 1px solid #4ABDAC;
        font-size: 15px;
    }

        .box1 a {
            color: #000000;
        }

    .cards {
        margin: 0 auto;
        display: -webkit-flex;
        display: flex;
        border-radius: 10px;
        /*-webkit-justify-content: center;
        justify-content: center;*/
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-top: 15px;
        padding: 1%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }

        .cards:hover {
            box-shadow: 0 4px 10px rgba(0,0,0,0.16), 0 4px 10px rgba(0,0,0,0.23);
        }

    #input-tag {
        padding: 5px 20px 15px 25px !important;
    }
</style>

@*<div class="container-fluid mb-5">
    <div class="text-center mt-5">
        <h1>Survey Question</h1>


    </div>
    <form id="ttt" method="post" >
        <div class="row">
            <div class="col-md-12">

                @for (int i = 0; i < Model.Count; i++)
                {


                    <div class=" cards " style="width: 100rem;">
                        <div class="card-body">

                            <h3 class="card-title "><label class="form-label" name="QuestionTitle">@k. @Model[i].SetName</label> </h3>
                            <p class="card-text">

                                @if (@Model[i].OptionTypeName == "SingleSelected")
                                {
                                    for (int j = 0; j < Model[i].OptionList.Count; j++)
                                    {

                                        <div class=" row">
                                            <div class="col-md-6" id="input-tag">
                                                <div class="form-check">
                                                    <input class="easyui-radiobutton form-check-input" type="radio" name="questionResponses[@i].InputFieldName" value="@Model[i].OptionList[j].OptionId">
                                                    <label class="form-check-label" id="leblsize">
                                                        @Model[i].OptionList[j].Options
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="easyui-radiobutton form-check-input" type="radio" name="questionResponses[@i].InputFieldName" value="@Model[i].OptionList[j].OptionId">
                                                    <label class="form-check-label" id="leblsize">
                                                        @Model[i].OptionList[j].Options1
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-check">
                                                    <input class=" easyui-radiobutton form-check-input" type="radio" name="questionResponses[@i].InputFieldName" value="@Model[i].OptionList[j].OptionId">
                                                    <label class="form-check-label" id="leblsize">
                                                        @Model[i].OptionList[j].Options2
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="easyui-radiobutton form-check-input" type="radio" name="questionResponses[@i].InputFieldName" value="@Model[i].OptionList[j].OptionId">
                                                    <label class="form-check-label" id="leblsize">
                                                        @Model[i].OptionList[j].Options3
                                                    </label>
                                                </div>
                                            </div>
                                        </div>


                                    }

                                }
                                else if (@Model[i].OptionTypeName == "MultiSelected")
                                {
                                    for (int j = 0; j < Model[i].OptionList.Count; j++)
                                    {
                                        <div class="row">
                                            <div class="col-md-6" id="input-tag">
                                                
                                                    <input class="easyui-checkbox " type="checkbox" id="checkbox1" name="questionResponses[@i].CheckBox" value="@Model[i].OptionList[j].OptionId">
                                                    <label class="form-check-label" id="leblsize">
                                                        @Model[i].OptionList[j].Options
                                                    </label>
                                            
                                              
                                                <input class="easyui-checkbox " type="checkbox" id="checkbox2" name="questionResponses[@i].CheckBox" value="@Model[i].OptionList[j].OptionId">
                                                    <label class="form-check-label" id="leblsize">
                                                        @Model[i].OptionList[j].Options1
                                                    </label>
                                                </div>
                                         
                                            <div class="col-md-6">
                                                
                                                <input class="easyui-checkbox " type="checkbox" id="checkbox3" name="questionResponses[@i].CheckBox" value="@Model[i].OptionList[j].OptionId">
                                                    <label class="form-check-label" id="leblsize">
                                                        @Model[i].OptionList[j].Options2
                                                    </label>
                                               
                                               
                                                <input class="easyui-checkbox " type="checkbox" id="checkbox4" name="questionResponses[@i].CheckBox" value="@Model[i].OptionList[j].OptionId">
                                                    <label class="form-check-label" id="leblsize">
                                                        @Model[i].OptionList[j].Options3
                                                    </label>
                                               
                                            </div>
                                        </div>

                                    }

                                }
                                else if (@Model[i].OptionTypeName == "Text")
                                {
                                    <div class="row" id="input-tag">

                                        <textarea class="form-control" name="questionResponses[@i].TextField" rows="4"></textarea>

                                    </div>

                                }

                            </p>

                        </div>
                    </div>

                                k++;
                }
                <div class="text-center">
                    <br />
                    <button type="submit" class="easyui-linkbutton">Answer Submit</button>
                </div>

            </div>
        </div>

    </form>

</div>*@



<script>

   
    $('#ttt').form('submit',
       {
           
           url: 'SaveAnswer/QuestionManage'


       });



</script>


