@model SurveyWebApplication.Models.Question

@{
    ViewBag.Title = "QuestionManages";
}

<h2>QuestionManages</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Question</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.QuestionTitle, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.QuestionTitle)
                @Html.ValidationMessageFor(model => model.QuestionTitle)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SetId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SetId)
                @Html.ValidationMessageFor(model => model.SetId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OptionTypeId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OptionTypeId)
                @Html.ValidationMessageFor(model => model.OptionTypeId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreateBy, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreateBy)
                @Html.ValidationMessageFor(model => model.CreateBy)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreateDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreateDate)
                @Html.ValidationMessageFor(model => model.CreateDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UpdateBy, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UpdateBy)
                @Html.ValidationMessageFor(model => model.UpdateBy)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UpdateDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UpdateDate)
                @Html.ValidationMessageFor(model => model.UpdateDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Status, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Status)
                @Html.ValidationMessageFor(model => model.Status)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
